.navigation {
    background-color: #73b9ff;
    background-image:-webkit-linear-gradient(top, #73b9ff, #3399ff);
    background-image:-o-linear-gradient(top, #73b9ff, #3399ff);
    background-image:-moz-linear-gradient(top, #73b9ff, #3399ff);
    margin-bottom: 10px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    padding: 0;
    box-shadow: 0 1px 0 #000;
    -moz-box-shadow: 0 1px 0 #000;
    -webkit-box-shadow: 0 1px 0 #000;
    -o-box-shadow: 0 1px 0 #000;
}
#mainmenu > li > a {
    display: block;
    background: #3399FF;
    color:#fff;
    padding: 10px 14px;
    font-family: Tahoma, ​Geneva ,​sans-serif;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
}
#mainmenu > li:first-of-type a{
    border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
}
#mainmenu > li > a:hover,
#mainmenu > li > a:focus {
    text-decoration: none;
    background-color: #0267cc;
    background-image:-webkit-linear-gradient(top, #5297dc, #0267cc);
    background-image:-o-linear-gradient(top, #5297dc, #0267cc);
    background-image:-moz-linear-gradient(top, #5297dc, #0267cc);
    color: #fff;
    box-shadow: 0 1px 0 #000000;
    -moz-box-shadow: 0 1px 0 #000000;
    -webkit-box-shadow: 0 1px 0 #000000;
    -o-box-shadow: 0 1px 0 #000000;
}
#mainmenu > li > a {
    padding: 15px 20px;
    color: #fff;
    font-size:14px;
    background-image: none;
    background: none;
    margin-right: 0;
    border-right: 1px solid rgba(0,0,0,0.2);
    box-shadow: -1px 0 0 rgba(255, 255, 255, 0.2) inset;
    -moz-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.2) inset;
    -webkit-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.2) inset;
    -o-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.2) inset;
}
#mainmenu > .active > a,
#mainmenu > .active > a:hover,
#mainmenu > .active > a:focus {
    color: #fff;
    background-color: #0267cc;
    background-image:-webkit-linear-gradient(top, #5297dc, #0267cc);
    background-image:-o-linear-gradient(top, #5297dc, #0267cc);
    background-image:-moz-linear-gradient(top, #5297dc, #0267cc);
}
.nav-pills.nav-stacked > li > a {
    margin-bottom: 3px;
}
.nav-pills.nav-stacked > li:last-child > a {
    margin-bottom: 1px;
}
.nav-tabs .dropdown-menu {
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
#mainmenu .nav .dropdown-menu {
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;
}
.navigation #mainmenu {
    margin-bottom: 0;
}
.navigation .nav-child {
    position: absolute;
    top: 95%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin-top:2px;
    list-style: none;
    background:rgba(0,0,0,0.7);
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}