/* Structure */
#page {
	width:auto;
	}
#header {
	height:auto;
	}
#logo a {
	color:#999;
	font-size:1.8em;
	height:auto !important;
	padding:0;
	text-decoration:none;
	}
#menu, #sitenav, #left, .rightcolumn #right, #bottom, #footer_panel, .buttonheading {
	display:none;
	}
#header, #contentholder, #center, #right, #footer {
	float:none !important;
	margin:0 !important;
	overflow:visible !important;
	padding:0 !important;
	width:auto !important;
	}
#header {
	padding:0 0 10px !important;
	}
#center {
	margin:0 10% !important;
	}
.threecolumns #right, #footer_other {
	border-top:1px solid #efefef;
	border-left:none;
	margin:10px 0 0 !important;
	padding:20px 0 0 !important;
	}
#footer_other {
	color:#999;
	width:auto;
	}

/* Text Styles */
a:link, a:visited {
	text-decoration:underline;
	}
h1 {
	color:#39f;
	font:normal 2.2em Trebuchet MS, Helvetica, sans-serif;
	letter-spacing:-1px;
	padding:20px 0 0;
	}
h2 {
	color:#39f;
	font:normal 1.6em Trebuchet MS, Helvetica, sans-serif;
	margin:20px 0 10px;
	}
h3 {
	font:bold 1.2em Trebuchet MS, Helvetica, sans-serif;
	margin:20px 0 0;
	}
h4 {
	font:bold 1em Trebuchet MS, Helvetica, sans-serif;
	margin:10px 0 0;
	}
.readon {
	float:none;
	}